.site-link {
    padding: 2em;
    border: 1px solid lightgray;
    display: inline-block;
    transition: all 0.3s ease;
    flex: 1;
    text-align: center;
    margin: 1em;
    background: white;
}

.site-link:hover {
    background: mediumseagreen;
    border: 1px solid lightgray;
    color: white;
    cursor: pointer;
}

.hero-banner {
    text-align: center;
    padding: 4em;
}

.siteList {
    display: flex;
    width: 800px;
    margin: auto;
}

.logoutLink {
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none;
}