<app-header></app-header>
<div class="hero-banner">
    <h1>Welcome to Cypress Automation Testing</h1>
    <div>To get started, choose you App</div>
</div>
<div class="siteList">
    <div (click)="openSite('Social Media')" class="site-link">
        Social Media
    </div>
    <div (click)="openSite('Company')" class="site-link">
        Company Details
    </div>
</div>
<div class="siteList">
    <div (click)="openSite('Internet Banking')" class="site-link">
        Internet Banking
    </div>
    <!-- <div (click)="openSite('Online Shopping')" class="site-link">
        Online Shopping
    </div> -->
</div>
<div class="taskList">
    <h2>
        Tasks
    </h2>
    <div class="taskList__app">
        <h3>Social Media App</h3>
        <ul>
            <li>
                Login to the app and select Social Media App and verify for the url.
            </li>
            <li>
                Left side Navigation, Verify that<br /><br />
                <ul>
                    <li>
                        there are 250 posts, 2.5K Followers and 5K Following for the user.
                    </li>
                    <li>
                        there are 7 links on the left side navigation and 6 links beneath the navigation links.
                    </li>
                    <li>
                        5 posts are shown in the Recent Posts section for the user.
                    </li>
                    <li>
                        once select a different number of posts to show, the same number of posts are displayed.
                    </li>
                </ul>
            </li>
            <li>
                Middle Section, Verify that<br /><br />
                <ul>
                    <li>
                        each post has 4 different action icons along with count
                    </li>
                    <li>
                        when clicked on comment, atleast 5 comments for the post are displayed and are hidden when we
                        click it again.
                    </li>
                    <li>
                        when clicked on heart, the count increases and color changes to reflect like and the reverse
                        happens when we click on it again
                    </li>
                    <li>
                        when clicked on share icon, the count increases by as many clicks.
                    </li>
                    <li>
                        when clicked on save, the count increases and color changes to reflect save and the reverse
                        happens when we click on it again
                    </li>
                    <li>
                        when comments section is open for any post:<br /><br />
                        <ul>
                            <li>
                                when clicked on heart, the count increases and color changes to reflect like and the
                                reverse happens when we click on it again
                            </li>
                            <li>
                                when clicked on share icon, the count increases by as many clicks.
                            </li>
                            <li>
                                when clicked on save, the count increases and color changes to reflect save and the
                                reverse happens when we click on it again
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                Right Side Section, Verify that:<br /><br />
                <ul>
                    <li>
                        two sections are displayed, namely Who to follow and Today's news
                    </li>
                    <li>
                        In Today's news, atleast 4 news items are displayed
                    </li>
                    <li>
                        In Who to follow, Verify that:<br /><br />
                        <ul>
                            <li>user has atleast 3 friends</li>
                            <li>when click on plus, the person is added as a friend to the user and on click again, is
                                removed</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="taskList__app">
        <h3>Company Details App</h3>
        <ul>
            <li>Login to the app and select Company Details App and verify for the url.</li>
            <li>
                Verify that:<br /><br />
                <ul>
                    <li>we can buy the company stock</li>
                    <li>there are more pros listed than cons for the company</li>
                    <li>the company is list as 4th in the Peer Comparison table</li>
                    <li>the ROCE % for the 8th company is 49.83</li>
                    <li>some rows are expandable in Quarterly Results table</li>
                    <li>the Material Cost % row is initially hidden and opens when clicked on Expenses/li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="taskList__app">
        <h3>Internet Banking App</h3>
        <ul>
            <li>Login to the app and select Internet Banking App and verify for the url.</li>
            <li>
                Verify that:<br /><br />
                <ul>
                    <li>two tabs of accounts are present and the first one is displayed by default.</li>
                    <li>there are 6 quick links on the right side of the page</li>
                    <li>the second section in the middle is collapsible and the first one has Savings Scheme A/c details
                    </li>
                    <li>the second accordion contains deposit details and that the sum of all deposits displayed matches
                    </li>
                    <li>two offers are displayed for the user</li>
                </ul>
            </li>
        </ul>
    </div>
</div>