<app-header></app-header>
<div class="hero-banner">
    <h1>Welcome to Cypress Automation Testing</h1>
    <div>To get started, choose you App</div>
</div>
<div class="siteList">
    <div (click)="openSite('Social Media')" class="site-link">
        Social Media
    </div>
    <div (click)="openSite('Company')" class="site-link">
        Company Details
    </div>
</div>
<div class="siteList">
    <div (click)="openSite('Internet Banking')" class="site-link">
        Internet Banking
    </div>
    <!-- <div (click)="openSite('Online Shopping')" class="site-link">
        Online Shopping
    </div> -->
</div>