<div class="posts">
    <div id="noPosts" *ngIf="!postList?.length">
        Loading Posts...
    </div>
    <div class="postPagination">Show
        <select (change)="handlePagination($event)" id="paginationSelection">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="All">All</option>
        </select>
        Posts
    </div>
    <div id="postList" class="postList">
        <h3>Recent Posts</h3>
        <br />
        <div class="postItem" [id]="'postItem-' + i"
            *ngFor="let post of postList.slice(0, perPagePosts); let i = index;" (dblclick)="handleDblClick(i)">
            <div>
                <div class="postTitle">{{post.title}}</div>
                <div class="postBody">{{post.body}}</div>
                <div class="emojiBlock">
                    <span class="emojiIcon"><i class="fa fa-comment-o"></i> {{post?.comments}}</span>
                    <span class="emojiIcon"><i class="fa fa-heart-o"></i> {{post?.likes}}</span>
                    <span class="emojiIcon"><i class="fa fa-share-alt"></i> {{post?.shares}}</span>
                    <span class="emojiIcon"><i class="fa fa-bookmark-o"></i> {{post?.saves}}</span>
                </div>
            </div>
            <div>
                <a href="Javascript:void(0)" class="postItemAction" (click)="openPost(i)">Details</a>
            </div>
            <div>
                <a href="Javascript:void(0)" class="postItemAction" (click)="deletePost(i)">Delete</a>
            </div>
        </div>
    </div>
</div>