<header>
    <div class="header-brand">
        <div class="flex">
            <div *ngIf="!isDashboard" class="flex align-items-center" title="Back to Choose App">
                <a class="header-home" [routerLink]="['/chooseApp']"><i class="fa fa-cubes"></i></a>
            </div>
            <div class="header-left">
                <a class="header-home" [routerLink]="[homeUrl]" *ngIf="!isDashboard">
                    <i class="fa fa-home"></i>
                </a>
                <h3 class="header-title">{{headerTitle}}</h3>
            </div>
        </div>
        <div class="header-home user-icon">
            <i class="fa fa-user-circle-o"></i>
            <div class="user-icon__dd font-12">
                {{currentUser?.username}} | {{currentUser?.email}} <br />
                Cypress Automation Tester | ABC.com
                <br /><br />
                <button type="button" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
            </div>
        </div>
        <!-- <a [routerLink]="['/']" class="logoutLink">
            <i class="fa fa-sign-out"></i>
        </a> -->
    </div>
</header>