<header>
    <div class="header-brand">
        <a class="header-home" [routerLink]="['/chooseApp']"><i class="fa fa-cubes"></i></a>
        <div class="header-left">
            <a class="header-home" [routerLink]="[homeUrl]">
                <i class="fa fa-home"></i>
            </a>
            <h3 class="header-title">{{headerTitle}}</h3>
        </div>
        <a [routerLink]="['/']" class="logoutLink">
            <i class="fa fa-sign-out"></i>
        </a>
    </div>
</header>
<br />
<br />