header {
    width: 100%;
    background: #25286C;
    height: 60px;
    position: sticky;
    top: 0;
    margin-bottom: 2em;
}

.header-brand {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-title {
    padding-left: 1em;
}

.header-home {
    padding: 1em;
    color: white;

    &:hover {
        background: white;
        cursor: pointer;
        color: black;
    }
}


.logoutLink {
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: white;
    padding: 1em;
}

.logoutLink:hover {
    background: white;
    color: #25286C;
}